@import "tailwindcss";

@theme {
    --font-primary: var(--font-inter);
    --font-secondary: var(--font-space-grotesk);
    --font-tertiary: var(--font-roboto-mono);

    /* Dark Theme Colors */
    --bg: #0a0f0a;
    --surface: #121812;
    --accent: #22c55e; 
    --accent-dark: #16a34a;
    --text-primary: #d1fae5;
    --text-secondary: #9ca3af;
    --text: #d1fae5;
    --border: #1f2937;
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg);
  color: var(--text-primary);
}


